@model BKStudentMVC.ViewModels.RuleViewModel

<div id="app"></div>
<table class="table">
    <thead>
        <th>FullName</th>
        <th>Description</th>
        <th>Active</th>
    </thead>
    <tbody>
    </tbody>
</table>
<script src="~/Scripts/dist/Home/react/rule_index.js"></script>